@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .hero-pattern {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.59) 19.43%,
        rgb(11, 119, 194, 0.5) 95.61%
      ),
      url(../public/images/heroImage.png);
  }
  .hero-p-sm {
    width: 600px;
  }
  .hero-p-lg {
    width: 744px;
  }
  .about-p-sm {
    width: 495px;
  }
  .about-bg {
    background-image: linear-gradient(
      90deg,
      #fff 40%,
      rgba(128, 79, 179, 0.06) 40%
    );
  }
  .stat-pattern {
    background: linear-gradient(84.58deg, #65a5e1 0%, #d065e1 99.67%);
  }
  .donation-pattern-sm {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url(../public/images/volunteer-sm.png);
  }
  .donation-pattern-lg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url(../public/images/volunteers.png);
  }
  .community-input-bg {
    background: rgba(101, 165, 225, 0.41);
  }
  .name-input-sm {
    width: 100px;
    height: 43px;
  }
  .name-input-lg {
    width: 273px;
    height: 81px;
  }
  .email-input-sm {
    height: 43px;
  }
  .email-input-lg {
    /* width: 834px; */
    height: 81px;
    background: rgba(101, 165, 225, 0.41);
  }
  .subscribe-btn-sm {
    height: 43px;
    background: linear-gradient(94.76deg, #4a017d 0.59%, #804fb3 63.73%);
  }
  .subscribe-btn-lg {
    height: 81px;
    background: linear-gradient(94.76deg, #4a017d 0.59%, #804fb3 63.73%);
  }
  .about-hero {
    background-image: url(../public/images/volunteers.png);
  }
  .donate-btn {
    background: linear-gradient(94.76deg, #4a017d 0.59%, #804fb3 63.73%);
  }
  .contact-background {
    background-image: url(../public/images/logoWatermark.svg);
    background-position: center;
  }
  .contact-background-lg {
    background-image: url(../public/images/contactWatermark.svg);
    background-position: center;
  }
}
