@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .hero-pattern {
    background-image: linear-gradient(110.93deg, rgba(0, 0, 0, 0.59) 19.43%, 
                        rgba(74, 1, 125, 0.59) 83.61%), 
                        url(../public/images/heroImage.png);
  }
  .hero-p-sm {
    width: 600px;
  }
  .hero-p-lg {
    width: 744px;
  }
  .about-p-sm {
    width: 495px;
  }
  .about-bg {
    background-image: linear-gradient(90deg, #fff 40%, rgba(128, 79, 179, 0.06) 40%)
  }
  .stat-pattern {
    background: linear-gradient(84.58deg, #65A5E1 0%, #D065E1 99.67%);
  }
  .donation-pattern-sm {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.8)), url(../public/images/volunteer-sm.png) ;
  }
  .donation-pattern-lg {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.8)), url(../public/images/volunteers.png);
  }
  .name-input-sm {
    width: 100px;
    height: 43px;
    background: rgba(101, 165, 225, 0.41)
  }
  .name-input-lg {
    width: 273px;
    height: 81px;
    background: rgba(101, 165, 225, 0.41);
  }
  .email-input-sm {
    height: 43px;
    background: rgba(101, 165, 225, 0.41);
  }
  .email-input-lg {
    /* width: 834px; */
    height: 81px;
    background: rgba(101, 165, 225, 0.41);
  }
  .subscribe-btn-sm {
    height: 43px;
    background: linear-gradient(94.76deg, #4A017D 0.59%, #804FB3 63.73%);
  }
  .subscribe-btn-lg {
    height: 81px;
    background: linear-gradient(94.76deg, #4A017D 0.59%, #804FB3 63.73%);
  }
}